<div class="w-full h-screen flex flex-col items-center justify-center">
  <div class="md:w-1/3 bg-indigo-50 p-4 shadow">
    <div class="flex gap-2">
        <a routerLink="/">Home</a> |
        <a [routerLink]="['user', 1]">
          User 1
        </a>
        |
        <a [routerLink]="['user', 2]">
          User 2
        </a>
        |
        <a routerLink="/random-user">
          Random User
        </a>
        |
        <a routerLink="/custom-obs">
          Custom Obs
        </a>
    </div>
    <div class="mt-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>